/* yea */

.about-main-container {
    background-color: #334140;
    padding: 2%;
    margin: 4%;
    border-radius: 20px;
    overflow: hidden;
}

.about-whole-container {
    display: flex;
    width: 95vw;
    align-items: center;
    justify-self: center;
}

.about-main-container p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin: auto;
}

.about-link {
    text-decoration: underline dotted 5px;
}

img {
    border-radius: 20px;
    display: flex;
    width: 30vw;
    padding: 10px;
    align-items: center;
    justify-self: center;
}

@media screen and (max-width: 600px) {
    .about-img, img {
        display: block;
        width: 70vw;
        justify-self: center;
    }

    .about-img {
        margin: auto;
    }

    .about-whole-container {
        display: block;
    }
}