/* this is for the contact page */

h2 {
    font-size: 60px;
    text-align: center;
    color: #fff;
    padding: 30px;
}

p {
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 20px;
}

.contact-link {
    text-decoration: underline dotted 5px;
}

.contact-main-container {
    background-color: #334140;
    padding: 2%;
    margin: 4%;
    border-radius: 20px;
    overflow: hidden;
}

.contact-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials img {
    margin: 30px;
}

.social-icon {
    width: 100px;
}

@media screen and (max-width: 500px) {
    .contact-main-container {overflow-x: scroll;}
    
    .socials img {width: 50px;
                margin: 20px;}

    nav {
        overflow-x: scroll;
    }
    
    nav p {
        font-size: 16px;
        margin: 0px;
        padding: 10px;
    }
    
}