body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(41, 35, 35);
}

nav {
    display: flex;
    padding: 10px;
    justify-content: right;
    background-color: rgb(82, 196, 90);
}

nav p {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
}

footer {
    background-color: rgb(210, 105, 105);
    margin-top: auto;
}

footer p {
    text-align: center;
    padding: 20px;
}

.main-portfolio-text {
    background-color: rgba(156, 68, 68, 70%);
    padding: 20px 30px;
    line-height: 24px;
    -webkit-box-shadow: 2px 14px 18px 9px #FF8D8D; 
    box-shadow: 2px 14px 18px 9px #FF8D8D;
}