.port-link {
    text-decoration: underline dotted 5px;
}


.main-portfolio-text {
    background-color: #F26648;
    padding: 20px 30px;
    line-height: 24px;
    -webkit-box-shadow: 2px 14px 18px 9px #FF8D8D; 
    box-shadow: 2px 14px 18px 9px #FF8D8D;
}

.portfolio-images {
    display: flex;
    width: 100vw;
}

.port-img-1 {
    width: 30%;
    height: 50vh;
}

.port-img-2 {
    width: 70%;
    height: 50vh;
}

.port-img-3 {
    width: 70%;
    height: 40vh;
}

.port-img-4 {
    width: 30%;
    height: 40vh;
}

.port-img-5 {
    margin: auto;
    width: 70vw;
}

