.port-link {
    text-decoration: underline dotted 5px;
}

.port-nav {
    background-color: #75605c;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.port-nav p {
    font-size: 16px;
}

.main-portfolio-text {
    width: 100vw;
    background-color: #F26648;
    padding: 20px 50px;
    line-height: 24px;
    -webkit-box-shadow: 2px 14px 18px 9px #F26648;
    box-shadow: 2px 14px 18px 9px #F26648;
}

img {
    margin: 10px;
    border: 5px dotted #334140;
}

.portfolio-images {
    display: flex;
    max-width: 100vw;
    margin: 20px 40px;
    align-self: center;
}

.port-img {
    justify-self: center;
}



@media screen and (max-width: 600px) {
    .portfolio-images {
        display: block;
        align-self: center;
        overflow-x: scroll;
    }

    .port-nav {
        height: 40px;
    }

    .port-nav p {
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    }
    
}
