.port-img-1 {
    margin-top: 40px;
    width: 500px;
    height: 50vh;
}

.port-img-2 {
    margin-top: 40px;
    width: 500px;
    height: 50vh;
}

.port-img-3 {
    width: 450px;
    height: 40vh;
}

.port-img-4 {
    width: 550px;
    height: 40vh;
}

.port-img-5 {
    width: 400px;
    height: 500px;
}

.port-img-6 {
    width: 600px;
}

@media screen and (min-width: 1600px) {
    .port-img-1 {
        margin-top: 40px;
        width: 800;
        height: 50vh;
    }

    .port-img-2 {
        margin-top: 40px;
        width: 800px;
        height: 50vh;
    }

    .port-img-3 {
        width: 700px;
        height: 40vh;
    }
    
    .port-img-4 {
        width: 900px;
        height: 40vh;
    }
    
    .port-img-5 {
        width: 800px;
        height: 500px;
    }
    
    .port-img-6 {
        width: 1200px;
    }

    
}